<base href="%s">

<body bgcolor="ffffff" text="000000">

<font face="arial">

<center><font size=+2>Sign our Guestbook</font></center>

<center>
<form action="%s" method=post>
<input type=hidden name="MfcISAPICommand" value="Add">
<table>
	<tr>
		<td align=right>
			Name:
		</td>
		<td align=left>
			<input type=text name="Name" size=40 maxlength=50>
		</td>
	</tr>
	<tr>
		<td align=right>
			Browser:
		</td>
		<td align=left>
			%s<input type=hidden name="Browser" value="%s">
		</td>
	</tr>
	<tr>
		<td align=right>
			Home Page:
		</td>
		<td align=left>
			<input type=text name="HomePage" value="http://" size=40 maxlength=50>
		</td>
	</tr>
	<tr>
		<td align=right>
			E-mail Address:
		</td>
		<td align=left>
			<input type=text name="Email" size=40 maxlength=50>
		</td>
	</tr>
	<tr>
		<td align=right valign=top>
			Comments:
		</td>
		<td align=left>
			<textarea name="Comments" rows="5" cols="47" wrap="virtual"></textarea>
		</td>
	</tr>
	<tr>
		<td></td>
		<td align=center>
			<input type=submit value="OK">
			<input type=reset value="Reset">
		</td>
	</tr>
</table>
</form>
</center>
</font>

</body>
