<base href="%s">

<body bgcolor="ffffff" text="000000">

<font face="arial">

<center>%s</center>

<center>
<table>
	<tr>
		<td align=right>
			Name:
		</td>
		<td align=left>
			<b>%s</b>
		</td>
	</tr>
	<tr>
		<td align=right>
			Browser:
		</td>
		<td align=left>
			<b>%s</b>
		</td>
	</tr>
	<tr>
		<td align=right>
			Home Page:
		</td>
		<td align=left>
			<b>%s</b>
		</td>
	</tr>
	<tr>
		<td align=right>
			E-mail:
		</td>
		<td align=left>
			<b>%s</b>
		</td>
	</tr>
	<tr>
		<td align=right>
			Comments:
		</td>
		<td align=left>
			<b>%s</b>
		</td>
	</tr>
</table>

[<a href="%s?AddSetup">New Entry</a>]
[<a href="%s">Main Menu</a>]
[<a href="%s?View">View entries</a>]

</center>

</font>