<body bgcolor="#ffffff" text="#000000">

<font face=arial>

<center>
<font size=+2>
How this Application Works
</font>
</center>
<p>
This application uses <a href="http://www.microsoft.com/visualc/">
Microsoft Foundation Classes 4.2</a> to connect a
<a href="http://www.microsoft.com/SQL/">SQL Server</a> 6.0 database
to the World Wide Web.

<p>
In the main source file (dbsample.cpp), there are 6 public functions (not
including GetExtensionVersion, the constructor or the destructor) and
4 private functions.
<table border=1>
	<tr>
		<td>
			Public-Default()
		</td>
		<td>
			This function provides the main menu listing the program's
			valid options. It's only parameter is a pointer to the
			CHttpServerContext.
		</td>
	</tr>
	<tr>
		<td>
			Public-AddSetup()
		</td>
		<td>
			This function provides the HTML form for the user to enter
			his/her name, e-mail address, home page and comments. It
			also only takes one parameter, the CHttpServerContext 
			pointer. Just for fun, this function calls the private
			function GetUserAgent, which uses
			pCtxt->GetServerVariable() in an effort to detect the
			browser the user has.

		</td>
	</tr>
	<tr>
		<td>
			Public-Add()
		</td>
		<td>
			Add() is called from AddSetup() and takes 6 parameters. They
			are the pointer to the CHttpServerContext, the user's name
			(LPCTSTR pszName), the user's browser (LPCTSTR pszBrowser),
			the user's home page (LPCTSTR pszHomePage), the user's
			e-mail address (LPCTSTR pszEmail) and the user's comments
			(LPCTSTR pszComments). Once the values are passed to Add,
			it checks to make sure the user entered <i>something</i>
			in the Name field. Then it opens the CAddQuery (CRecordset)
			object, uses pszName as m_strFilter and attempts to locate 
			the user's name. It calls CAddQuery.IsBOF(). If IsBOF() 
			returns TRUE, then the user's name is not in the database, 
			CAddQuery.AddNew() is called, the values are set, the 
			CAddQuery.Update() attempts to save the record. If IsBOF() 
			returns FALSE, the user is informed that the record is 
			already on file. This approach is taken to keep from 
			confusing users with cyptic error messages.
		</td>
	</tr>
	<tr>
		<td>
			Public-View()
		</td>
		<td>
			This function takes 1 parameter, again, the CHttpServerContext
			pointer, then lists all of the databases records. Each
			individual record represents a form, so that when the user
			clicks on the 'Details' button, Details() is called and shows
			the information originally entered by the user.
		</td>
	</tr>
	<tr>
		<td>
			Public-Details()
		</td>
		<td>
			This function takes two parameters, a pointer to the
			CHttpServerContext and the name (LPCTSTR pszName) entered by
			the user. The member variable, m_strFilter is set to pszName
			and IsBOF() is again checked. If IsBOF() returns TRUE, the user
			is informed that the name is not in the list. If IsBOF()
			returns FALSE, the record is retrieved and the information
			is shown.
		</td>
	</tr>
	<tr>
		<td>
			Public-HowItWorks()
		</td>
		<td>
			All this function does is display the page you're currently
			viewing.
		</td>
	</tr>
	<tr>
		<td>
			Private-LoadLongResource()
		</td>
		<td>
			This function is taken from the WWWQuote example, as is a lot
			of this code. It allows us to store HTML documents as resources
			in the DLL and is really cool, since we don't have to write
			a function to do it.
		</td>
	</tr>
	<tr>
		<td>
			Private-WritePageTitle()
		</td>
		<td>
			Pretty much self-explanatory
		</td>
	</tr>
	<tr>
		<td>
			Private-SendNoCache()
		</td>
		<td>
			Tells the user's browser not to cache a web page.
		</td>
	</tr>
	<tr>
		<td>
			Private-GetUserAgent()
		</td>
		<td>
			Covered in AddSetup()
		</td>
	</tr>
</table>

<p>
That should about cover it. If you have questions or comments about the
code, we'd like to <a href="mailto:baddison@midnite.net">hear</a> them, 
especially if you have a better idea. Hopefully we can all learn something.

<br><br><br>

<a href="mailto:baddison@midnite.net">Bobby Addison</a><br>
<a href="http://www.midnite.net/">Midnite Communications</a><br>

</font>