<!guestbook main html file>

<base href="%s">

<body bgcolor="#ffffff" text="#000000">
<font face="arial">

<center>
	<font size=+2>
		<b>ISAPI Guestbook Example</b>
	</font>
</center>

<p>
OK, here it is, just what the web needed, <b><i>yet another</i></b> Guestbook!
Unlike some, however, this one actually serves a <i>somewhat</i> productive
purpose. This Guestbook was written to provide an example of connecting
a database to the Internet using ISAPI. ISAPI is helping developers 
create a more interactive Web. This Guestbook is an ISAPI application 
that is linked to a <a href="http://www.microsoft.com/">Microsoft</a> 
SQL Server database. All of the HTML documents providing the interface
for the visitors are stored in this ISAPI Dynamic Link Library (DLL) as
resources. For more information on this program, click 
<i><a href="%s?HowItWorks">
How this Application Works</a></i>.
</p>

<ol>
<center>
	<table>
		<tr>
			<td>
				<li>
				<a href="%s?AddSetup">
					Add an Entry to the Guestbook
				</a>
				</li>
			</td>
		</tr>
		<tr>
			<td>
				<li>
				<a href="%s?View">
					View the Guestbook Entries
				</a>
				</li>
			</td>
		</tr>
		<tr>
			<td>
				<li>
				<a href="%s?HowItWorks">
					How this Application Works
				</a>
				</li>
			</td>
		</tr>
	</table>
</center>
</ol>

<br>

<font size=-2>
Copyright &copy; 1996 Midnite Communications
</font>
</font>