	<tr>
	<form action="%s" method=post>
	<input type=hidden name="MfcISAPICommand" value="Details">
		<td>
			%s<input type=hidden name="Name" value="%s">
		</td>
		<td>
			%s
		</td>
		<td>
			%s
		</td>
		<td>
			<input type=submit value="Details">
		</td>
	</form>
	</tr>