<base href="%s">

<body bgcolor="ffffff" text="000000">
<font face="arial">

<font size=+2>
<center><b>Guestbook Entries</b></center>
</font>

<center>
<table>
	<tr>
		<td align=center nowrap>
			<b><u>Name</u></b>
		</td>
		<td align=center nowrap>
			<b><u>E-mail Address</u></b>
		</td>
		<td align=center nowrap>
			<b><u>Home Page</u></b>
		</td>
		<td align=center>
			<b><u>Command</u></b>
		</td>
	</tr>