a:link    { color: #616161; text-decoration: none;  font-size: 12px;       }
a:visited { color: #616161; text-decoration: none      }
a:active  { color: #616161;
}
a:hover   { color: #535353; text-decoration: underline }

unknown { color: #616161; font-size: 12px; font-family: Verdana, Arial, sans-serif}
body    { color: #000000; font-size: 12px; font-family: Verdana, Arial, sans-serif}

td      { color: #000000; font-size: 11px; font-family: Verdana, Arial, sans-serif}

select  	  {
	font-size: 12px;
	font-family: Verdana, Arial, sans-serif;
	text-align: center;
	vertical-align: middle;
	background-position: center center;
}
input             { font-size: 11px; font-family: Verdana, Arial, sans-serif ; left: 0px; top: 0px; clip:   rect(0px 0px 0px 0px)}
textarea          { font-size: 11px; font-family: Verdana, Arial, sans-serif }

.footer {  font-family: Verdana, Arial, sans-serif }
.popout {                  font-family: Verdana, Arial, sans-serif }

.uho    { font-size: 9px; font-family: Verdana, Arial, sans-serif }
.uhoDate  {
	font-size: 9px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
}


.border {  border: 1px #003366 solid}

.Head0 {  font-size: 12px}
.Head1 {  font-size: 12px; font-weight: bold;  color: #FFFFFF; }
.Head2 { font-size: 13px; font-weight: bold;  color: #FFFFFF;  }
.HPC { font-size: 12px; font-weight: bold;  color: #FFFFFF;  }
.

.menu {  font-size: 8px; font-family: Verdana, Arial, Helvetica, sans-serif}
.detprc {  font-size: 18px; font-family: Arial, Helvetica, sans-serif;  font-weight: bold}

form {  margin-top: 0px; margin-bottom: 0px; margin-right: 0px; margin-left: 0px}
.Head2ub {  font-size: 13px; font-weight: normal}
.text_nb {  border: 1px #000066 solid; clip:  rect(0px 0px 0px 0px); font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px}
.text_nb_big { border: 1px #000066 solid; clip: rect(0px 0px 0px 0px); font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; background-color: #FFFFFF}
.blended {  filter: Alpha(Opacity=33)}
.high {  font-size: 9px; clip:   rect(   ); text-decoration: underline; vertical-align: top}
.imgOff {  filter: Alpha(Opacity=70, Enabled=1), Gray(enabled=1)}
.imgOn { filter: Alpha(Opacity=100, Enabled=0), Gray(enabled=0)}

/* Scrollbar properties are only supported by Internet Explorer 5.5  */
body {
	scrollbar-3d-light-color : #FFFFFF;
	scrollbar-arrow-color : #000099;
	scrollbar-base-color : #EEEEEE;
	scrollbar-dark-shadow-color : #AAAAAA;
	
	scrollbar-face-color : #F1F1F1;
	scrollbar-highlight-color : #F0F0F0;
	scrollbar-shadow-color : #D5D5D5;
}


 
.vsmtb {  border: 1px #999999 solid; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; color: #333333}

li {  padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; list-style-image: url(http://ronish.no-ip.com/images/bullet_blue.gif); margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;}
