/* ================================
    CSS STYLES FOR IBUYSPY PORTAL 
    v1.0, 01/2001
   ================================
*/   


/* PAGE BACKGROUND */
/* background color for the header at the top of the page  */
.HeadBgTop
{
	font-size: 11px;
	color: darkslategray;
	font-family: Verdana, Helvetica, sans-serif;
/*	background-color: #0000ff;*/
/*	background-color: black;*/
	text-decoration: none;
}

/* PAGE BACKGROUND */
/* background color for the header at the top of the page  */
.HeadBgBottom
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
/*    background-color: #F1F1F1;*/
    text-decoration:    none;
    color:black;
}
.HeadBgBottomVert
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    background-color: #FFFFFF;
    text-decoration:    none;
    color:black;
}
/* PAGE BACKGROUND */
/* background color for the header at the top of the page  */
.HeadBgLine
{
    /* background-color: #FFFFFF; */
}

/* PAGE BACKGROUND */
/* background color for the header at the top of the page  */
.HeadBg
{
    /* background-color: #1478eb; */
 /*   background-color: #666666;*/
}

/* background color for the content part of the pages */
.Bodybg
{
    background-color: #8D9775;
}

Body
{
    margin-left:0;
    margin-right:0;
    margin-top:0;
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
}

select
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
}

/* PAGE BANNER */
/* NOTE: Site Title, Site Links and Tabs are rendered by MobilePortalBanner.ascx
/* style for the text of the site title */
.SiteTitle
{
    font-weight: bold;
    font-size: 20px;
    color: #333333;
    font-family: Verdana Bold, Helvetica, sans-serif;
}

/* background/border colors for the selected tab */
/*.TabBg
{
	border-left-color: #F1F1F1;
	border-bottom-color: #F1F1F1;
	border-top-color:#F1F1F1;
	background-color: #F1F1F1;
}
.TabBgVert
{
	border-left-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-top-color:#FFFFFF;
	background-color: #FFFFFF;
}*/

.SelectedItem
{
	color: #ECE9D8;
	width: 100%;
	text-align: center;
	white-space: nowrap;
	text-decoration: underline;
}
/* background/border colors for the unselected tabs */
/*.OtherTabsBg
{
    border-left-color: Gray;
    border-bottom-color: #1478eb;
    border-top-color: #1478eb;
    background-color: #F1F1F1;
    border-right-color: #1478eb;
}*/
.OtherTabsBgVert
{
    border-left-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
    background-color: #FFFFFF;
    border-right-color: #FFFFFF;
}
/* text style for the selected tab */
.SelectedTab
{
	font-weight: normal;
	font-size: 11px;
	color: black;
	font-family: Verdana, Helvetica, sans-serif;
	text-decoration: underline;
}

/* text style for the unselected tabs */
.OtherTabs {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    color: #9FB086;
    text-decoration:none;
    font-weight: normal
}

/* hyperlink styles of the unselected tabs */
A.OtherTabs:link    {
    text-decoration:    none;
    color:black;
}

A.OtherTabs:visited {
    text-decoration:    none;
    color:black;
}

A.OtherTabs:active  {
    text-decoration:    none;
    color:black;
}

A.OtherTabs:hover   {
    text-decoration:    underline;
    color:#FF6600;
}
    
/* text style for the site links (at extreme top-right of header) */
.SiteLink {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal
	color: #333333;
}   

/* hyperlink style for the site links */
A.SiteLink:link {
    text-decoration:    none;
    color: #333333;
}

A.SiteLink:visited  {
    text-decoration:    none;
    color:#333333;
}

A.SiteLink:active   {
    text-decoration:    none;
    color:#333333;
}

A.SiteLink:hover    {
    text-decoration:    underline;
    color: #333333;
}

/* style for separator between site links */
.Accent
{
    color: #333333;
    font-weight:    normal;
}



/* MODULE-SPECIFIC */
/* text style for reading messages in Discussion */    
.Message    {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-size: 11px;
    background-color: #ffffff;
    border: solid 1px #000000;
}   

/* style of item titles by Announcements and events */
.ItemTitle
{
    font-weight: bold;
    font-size: 11px;
    color: navy;
    font-family: Verdana, Helvetica, sans-serif;
}

/* Datagrid item */
.GridHeader
{
    font-weight: bold;
    font-size: 12px;
    color: Black;
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #C0CBB4;
}
.GridFooter
{
    font-weight: bold;
    font-size: 12px;
    color: black;
    font-family: Verdana, Helvetica, sans-serif;
    background-color: #C0CBB4;
}


.Item
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 12px;
    background-color: #FFFFFF;
}

.AlternateItem
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 12px;
    background-color: #F5F9F0;
}
.CourseExpire
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 12px;
	background-color: Fuchsia
}

.CourseNotAvailable
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 12px;
	background-color: Yellow
}


/* GENERAL */
/* style for module titles */
.Head   {
    font-family: Verdana, Helvetica, sans-serif;
    font-size:  12px;
    font-weight:    bold;
    color: darkslategray;
}

/* style of item titles on edit and admin pages */
.SubHead    {
    font-family: Verdana, Helvetica, sans-serif;
    font-size:  12px;
    font-weight:    bold;
    color: navy;
}

/* module title style used instead of Head for compact rendering by QuickLinks and Signin modules */
.SubSubHead {
    font-family: Verdana, Helvetica, sans-serif;
    font-size:  11px;
    font-weight:    bold;
    color: black;
}

/* text style used for most text rendered by modules */
.Normal
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 12px    
}

/* text style used for textboxes in the admin and edit pages, for Nav compatibility */
.NormalTextBox
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}

.NormalRed
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: red
}

.NormalBold
{
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold
}

/* text style for buttons and link buttons used in the portal admin pages */
.CommandButton     {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
}

.Panel  
{
    border: 1px;
    border-color: Black;
}
    
/* hyperlink style for buttons and link buttons used in the portal admin pages */
A.CommandButton:link {
    text-decoration:    underline;
    color: #003399;
}

A.CommandButton:visited  {
    text-decoration:    underline;
    color: #003399;
}

A.CommandButton:active   {
    text-decoration:    underline;
    color: #003399;
}

A.CommandButton:hover    {
    text-decoration:    underline;
    color: #FF3300;
}
    



/* GENERIC */
H1
{
    font-weight: normal;
    font-size: 20px;
    color: darkslategray;
    font-family: Verdana, Helvetica, sans-serif;
}

H2  {
    font-family: Verdana, Helvetica, sans-serif;
    font-size:  20px;
    font-weight:    normal;
    color: darkslategray;
}

H3  {
    font-family: Verdana, Helvetica, sans-serif;
    font-size:  12px;
    font-weight:    normal;
    color: navy;
}

H4  {
    font-family: Verdana, Helvetica, sans-serif;
    font-size:  12px;
    font-weight:    normal;
    color: navy;
}

H5, DT  {
    font-family: Verdana, Helvetica, sans-serif;
    font-size:  11px;
    font-weight:    bold;
    color: navy;
}

H6  {
    font-family: Verdana, Helvetica, sans-serif;
    font-size:  11px;
    font-weight:    bold;
    color: navy;
}

TFOOT, THEAD    {
    font-family: Verdana, Helvetica, sans-serif;
    font-size:  12px;
    color: navy;
}

TH  {
    vertical-align: baseline;
    font-family: Verdana, Helvetica, sans-serif;
    font-size:  12px;
    font-weight:    bold;
    color: navy;
}

A:link  {
    text-decoration:    none;
    color:  #003399;
}

A:visited   {
    text-decoration:    none;
    color:  #003399;
}

A:active    {
    text-decoration:    none;
    color:  #003399;
}

A:hover {
    text-decoration:    underline;
    color:  red;
}

SMALL   {
    font-size:  8px;
}

BIG {
    font-size:  14px;
}

BLOCKQUOTE, PRE {
    font-family:    Lucida Console, monospace;
}


UL LI   {
    list-style-type:    square ;
}

UL LI LI    {
    list-style-type:    disc;
}

UL LI LI LI {
    list-style-type:    circle;
}

OL LI   {
    list-style-type:    decimal;
}

OL OL LI    {
    list-style-type:    lower-alpha;
}

OL OL OL LI {
    list-style-type:    lower-roman;
}

HR {
    color: dimgrey;
    height:1pt;
    text-align:left
}

